#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card > textarea {
  border-radius: 5px;
  padding: 8px;
  font-size: 1.3rem;
}

p {
  font-weight: bold;
}
